label {
    color: #FFFFFF !important;
    font-size: 16px;
    font-weight: 600;
}

.form-control{
    color: #fff !important;
    border:1px solid #fff !important;
    background-color: #2A3756 !important;
}
.form-control:hover {
    border: 1px solid #9FC3E6 !important;
}

input.form-control:focus{
    border: 1px solid #DFE2E5 !important;
}
.formContainer{
    background-color: #2A3756    !important;
}
